<div class="card card-table">
  <div class="card-body">
    <div class="table-responsive">
      <div class="dataTables_wrapper no-footer">
        <div class="dataTables_length" [ngStyle]="{color:'red'}">
          <label>Show
            <select class="" data-show="10,25,50,100" name="DataTables_Table_length">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
            entries
          </label>
        </div>

        <table class="table table-stripped table-hover datatable dataTable no-footer">
          <thead class="thead-light">
            <tr>
              <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1" style="width: 139.8px;" aria-label="Invoice Number: activate to sort column descending" aria-sort="ascending">Rayon No</th>
              <th>Code rayon</th>
              <th>Labelle rayon</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rayon of rayons; let i=index">
              <td>{{rayon.idRayon}}</td>
              <td>{{rayon.codeRayon}}</td>
              <td>{{rayon.libelleRayon}}</td>

              <td>
                <a class="btn btn-success btn-sm" [routerLink]="['editRayon',rayon.idRayon]">
                     Edit
                </a>
                <a class="btn btn-danger btn-sm" (click)="deleteRayon(rayon.idRayon,i)">
                  Delete
                </a>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>

