<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Invoices</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a>Dashboard</a></li>
          <li class="breadcrumb-item active">Invoices</li>
        </ul>
      </div>
      <div class="col-auto float-right ml-auto">
        <a class="btn btn-primary me-1 header-btn" routerLink="addInvoice" ><ion-icon name="add-outline"></ion-icon></a>
        <a class="btn btn-primary me-1 header-btn"><ion-icon name="filter-outline"></ion-icon></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
